#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


h1{
  color: rgb(82, 90, 188);
  font-size: 50px;
}
/* Sun icon styling */
#sun {
  font-size: 4.2rem;
}

/* Smooth rotation animation */

